*
!/ProjectSettings/
!/ProjectSettings/*
/ProjectSettings/ProjectVersion.txt
/ProjectSettings/ProjectSettings.asset
!/JoeTODOlist.txt
!/Assets/
!/Assets/Script/
!/Assets/Script/characterContrl/
!/Assets/Script/characterContrl/*
!/Assets/Script/fightControl/
!/Assets/Script/fightControl/*
!.gitignore
