*
!/ProjectSettings/
!/ProjectSettings/*
/ProjectSettings/ProjectVersion.txt
/ProjectSettings/ProjectSettings.asset
!/JoeTODOlist.txt
!/Assets/
!/Assets/Script/
!/Assets/Script/characterContrl/
!/Assets/Script/characterContrl/*
!/Assets/Script/fightControl/
!/Assets/Script/fightControl/*
!/Assets/Script/mine/
!/Assets/Script/mine/*
!/Assets/Script/mine/Glitch/*
!.gitignore
